{{!-- <h1>Register</h1>

<form action="/register" method="post">
    {{!-- <div>
        <label>Name</label>
        <input type="string" name="name" />
    </div> --}}
    <div>
        <h1>From express</h1>
        <label>Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button>Register</button>
    </div>
</form> --
